@font-face {
    font-family: 'im_fell_english_proregular';
    src: url('../fonts/imfellenglishpro_regular_macroman/FeENrm28C-webfont.eot');
    src: url('../fonts/imfellenglishpro_regular_macroman/FeENrm28C-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/imfellenglishpro_regular_macroman/FeENrm28C-webfont.woff') format('woff'),
         url('../fonts/imfellenglishpro_regular_macroman/FeENrm28C-webfont.ttf') format('truetype'),
         url('../fonts/imfellenglishpro_regular_macroman/FeENrm28C-webfont.svg#im_fell_english_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: 'Palatino', 'Times New Roman', serif;
}

h1, h2, h3, h4, h5, h6, .navbar-brand {
  font-family: 'im_fell_english_proregular', 'Palatino', 'Times New Roman', serif;
}

.entry-title a {
  color: black;
}

.badge, .tag {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.tagpage .postlist .title {
  line-height: 1.1;
}

.tagpage .postlist .tags {
  display: flex;
  margin: 0;
}

.tagpage .postlist .tags > li {
  display: inline-flex;
  margin-right: 4px;
}

.post-text table.docutils {
  margin: 1em 0;
}

img.icon {
  height: 1em;
  opacity: 0.5;
}

#footer {
  font-size: smaller;
  padding-bottom: 19px;
  text-align: center;
}

.breadcrumb {
  background-color: transparent;
  border: 1px solid rgb(221, 221, 221);
}

.post-text em {
  font-style: normal;
  font-weight: bold;
}

.post-text strong {
  font-weight: bold;
  text-decoration: underline;
}
